extends layout

block content
  h2 Snake 
    span#score 0 
  p Welcome to javascript Snake
  p Press the button to start, use the arrow keys to control the snake. You know the rest.
  button#start Start
  button#ping Ping
  
  .arena
   