doctype 5
html
  head
    title Snake
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
script(src='javascripts/components/zepto/zepto.js')
script(src='javascripts/app.js')
script(src='javascripts/snake.js')